.portugues { background: var(--portugues); }
.arte { background: var(--arte); }
.educacao-fisica { background: var(--educacao-fisica); }
.ingles { background: var(--ingles); }
.matematica { background: var(--matematica); }
.ciencias { background: var(--ciencias); }
.geografia { background: var(--geografia); }
.historia { background: var(--historia); }
.ensino-religioso { background: var(--ensino-religioso); }